<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon"></app-page-title>

<div class="page-title-actions mb-3 text-center" >
  <ul class="header-megamenu nav">
    <li class="nav-item">
      <div class="search-wrapper" [class.active]="isActive" style="display: inline-block;">
        <div class="input-holder">
          <input type="text" placeholder="¿Qué deseas buscar?" class="search-input">
          <button class="search-icon" (click)="isActive = true"><span></span></button>
        </div>
        <button class="close" (click)="isActive = false"></button>
      </div>
    </li>
    <li class="nav-item">
      <button (click)="nuevoRegistro()" type="button" class="btn-shadow d-inline-flex align-items-center btn btn-success" style="display: inline-block; margin-top: 5px;">
        
        Crear nuevo
      </button>
    </li>
  </ul>
</div>

<div class="card main-card mb-3" (click)="editarRegistro(registro_t)" *ngFor="let registro_t of mainArray$; index as i">
  <div class="col-xs-12">
    <div class="main-card card">
      <div class="card-header" style="padding: 0px;">
        <div class="position-relative d-flex justify-content-center align-items-center" style="padding: 12px 0px;">
          <div class="slider-content text-light" style="width: 100%;">
            <div class="d-flex" style="padding: 0px 15px;font-family: codigeekfont;">
              <div class="header-btn-md" style="margin: 0px;padding: 0px;align-items: center;position: relative; margin-left:15px;">
                <h5 class="text-left" style="margin: 0px;font-size: 16px;text-transform: none;font-weight: bold;color: #1562b1;display: block;margin-bottom: 5px;">
                  {{ registro_t.nombre }}
                </h5>
                <h5 style="margin: 0px;font-size: 12px;text-transform: none;font-weight: normal;color: #929292;text-align: left;">
                   {{ registro_t.platillos.length }} artículos relacionados
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
