
<div class="pb-4">
  <div class="row mb-3" style="margin-top: 8%;font-family:codigeekfont;margin: 0px;">
    <div class="mt-2 mb-4" style="text-align: left;font-weight: bold;width: 100%;color: #1562b1;font-family: codigeekfont;">
      Promociones
    </div>
    <div class="col-12 col-sm-3" *ngFor="let registro_t of promocionesArray$; index as i">
      <div class="card main-card mb-3" style="padding: 10px;">
        <div class="row m-0" (click)="seleccionarPromocion(registro_t)" style="cursor:pointer;">
          <div class="col-12 p-0 mt-2">
            <img src="{{ registro_t.foto_promocion }}" style="width:100%;">
          </div>
          <div class="col-12 p-0 pt-2 mt-2" style="border-top: 1px solid #e4e4e4;">
            <h5 class="text-center" style="margin: 0px;font-size: 12px;text-transform: none;color: black;">
              {{ registro_t.servicio.nombre }}
            </h5>
            <h5 *ngIf="registro_t.aplica_porcentaje" class="text-center" style="margin: 2px 0px 0px 0px;font-size: 12px;text-transform: none;color: black;font-weight: bold;">
              {{ registro_t.porcentaje_descuento }}% de descuento
            </h5>
            <h5 *ngIf="!registro_t.aplica_porcentaje" class="text-center" style="margin: 2px 0px 0px 0px;font-size: 12px;text-transform: none;color: black;font-weight: bold;">
              {{ registro_t.detalle_promocion }}
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
