<div class="row m-0" style="font-family: codigeekfont;">
  <div class="col-12 mt-4" style="text-align: left;font-weight:bold;width:100%;">
    <i (click)="irA()" class="lnr-chevron-left" style="font-weight: bold;font-size: 20px;color: #1562b1;"></i>
  </div>
  <div class="row m-0">
    <div class="col-12 text-center mt-4 mb-3" style="font-weight: bold;">
      <h6 style="margin-bottom: 5px;font-weight: bold;font-size: 15px;">
        Terminos y condiciones de privacidad
      </h6>
      <h6 class="mt-4 pl-2 pr-2" style="margin-bottom: 5px;font-size: 12px;text-align: justify;color: #6b6b6b;">
        {{ terminos$ }}
      </h6>
    </div>
  </div>
</div>
