<div class="col-12 mt-4 mb-4" style="text-align: left;font-weight: bold;width: 100%;display: flex;justify-content: center;color: #1562b1;font-family: codigeekfont;">
  <i (click)="regresar()" class="lnr-chevron-left mr-3" style="font-weight: bold;font-size: 20px;position: absolute;left: 15px;"></i>
  Mi información
</div>
<div style="font-family: codigeekfont;">
  <div class="row m-0 mt-5 mb-3 align-items-center justify-content-center">
    <img (click)="subirImagen(2)" *ngIf="!currentUser$.foto" width="75" src="./assets/images/avatars/nophoto.png" alt="" class="rounded-circle" style="padding: 5px;border: 1px dashed #1562b1;">
    <img (click)="subirImagen(2)" *ngIf="currentUser$.foto" width="75" src="{{ currentUser$.foto }}" alt="" class="rounded-circle" style="padding: 5px;border: 1px dashed #1562b1;">
  </div>
  <div class="row m-0 mt-2 mb-4 pl-2 pr-2">
    <div class="col-sm-4 offset-sm-4 col-12">
      <form class="p-3" style="width: 100%;">
        <div class="position-relative form-group">
          <div class="position-relative form-group" >
            <h5 class="custom-label-cg">
              Nombre completo
            </h5>
            <input [(ngModel)]="currentUser$.nombre" name="nombre" type="text" class="custom-input-cg" required style="font-size: 13px; ">
            <img src="https://codigeek.com/projects/bookapp/user_icon.png" style="width: 15px; position: absolute; bottom: 12px; left: 12px;">
          </div>
          <div class="position-relative form-group" >
            <h5 class="custom-label-cg">
              Correo electrónico
            </h5>
            <input [(ngModel)]="currentUser$.correo" name="correo" type="text" class="custom-input-cg" required style="font-size: 13px; ">
            <img src="https://codigeek.com/projects/bookapp/icon_correo.png" style="width: 15px; position: absolute; bottom: 12px; left: 12px;">
          </div>
		  <div class="position-relative form-group" >
		    <h5 class="custom-label-cg">
			  Teléfono
		    </h5>
		    <div style="display: flex;">	  
			    <input (click)="getCodigosPaises()" [(ngModel)]="currentUser$.dial_code" name="dial_code" type="text" readonly="true" class="custom-input-cg" required style="font-size: 13px;padding: 10px;width: 23%;margin-right: 1%;text-align: center;">
			    <input [(ngModel)]="currentUser$.telefono_formato" name="telefono_formato" type="text" class="custom-input-cg" required style="font-size: 13px;width: 75%;padding: 10px 15px;">
		    </div>
		  </div>
          <div (click)="abrirCambiarContrasena()" class="mt-3 mb-3 text-right" style="color: #b7b7b7;font-weight: normal;font-size: 13px;">
            Cambiar contraseña
          </div>
          <div class="col-12 p-0 mb-3">
            <label style="position: relative;width: 100%;pointer-events: all;margin-bottom: 5px;text-align: left;color: #b7b7b7;font-weight: normal;font-size: 12px;">
              Fecha de nacimiento
            </label>
            <div class="input-group">
              <input
                class="form-control"
                placeholder="yyyy-mm-dd"
                name="fecha_nacimiento"
                [(ngModel)]="currentUser$.fecha_nacimiento"
                [minDate]="{year: 1930, month: 1, day: 1}"
                ngbDatepicker
                #d="ngbDatepicker"
                style="background: #f2f2f2; border: none; border-radius: 10px 0px 0px 10px; box-shadow: none; padding: 10px 15px 10px 15px; color: #6f6f6f; font-weight: bold;font-size: 13px;"
                >
              <div class="input-group-append">
                <button class="btn btn-success calendar" (click)="d.toggle()" type="button">
                  <i class="text-white lnr-calendar-full pr-1 pl-1"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="text-center">
            <button (click)="guardarPerfil()" class="boton-confirmar-morado">
              Actualizar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


<!-- MODALS -->

<ng-template #mCodigosPaises let-c="close" let-d="dismiss">
  <div class="modal-header" style="background: none;padding: 10px 15px;">
    <h6 class="modal-title" style="color: black; font-weight: 500;">Códigos de países</h6>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')" style="padding: 10px 15px;">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="max-height: 400px; overflow-y: scroll;">
    <p style="margin: 8px 0px;cursor:pointer;padding-bottom: 8px;border-bottom: 1px solid #eaeaea;" (click)="c(registro_t)" *ngFor="let registro_t of codigosPaises$; index as i">
      <i class="pe-7s-angle-right"></i>{{ registro_t.dial_code }} - {{ registro_t.name }}
    </p>
  </div>
</ng-template>

<ng-template #mContrasena let-c="close" let-d="dismiss">
  <div class="modal-header" style="background: none;padding: 10px 15px !important;font-family:codigeekfont;">
    <h6 class="modal-title" style="color: black; font-weight: 500;">Cambiar contraseña</h6>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')" style="padding: 10px 15px;">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="font-family: codigeekfont;padding: 15px 25px;">
    <form style="margin-top: 15px;">
      <div class="position-relative form-group" >
        <h5 class="custom-label-cg">
          Contraseña actual
        </h5>
        <input [(ngModel)]="currentUser$.contrasena_actual" name="contrasena_actual" type="text" class="custom-input-cg" required style="font-size: 13px; ">
        <img src="https://codigeek.com/projects/bookapp/icon_contrasena.png" style="width: 15px; position: absolute; bottom: 12px; left: 12px;">
      </div>
      <div class="position-relative form-group" >
        <h5 class="custom-label-cg">
          Nueva contraseña
        </h5>
        <input [(ngModel)]="currentUser$.nueva_contrasena" name="nueva_contrasena" type="text" class="custom-input-cg" required style="font-size: 13px; ">
        <img src="https://codigeek.com/projects/bookapp/icon_contrasena.png" style="width: 15px; position: absolute; bottom: 12px; left: 12px;">
      </div>
      <div class="position-relative form-group" >
        <h5 class="custom-label-cg">
          Repite tu nueva contraseña
        </h5>
        <input [(ngModel)]="currentUser$.repetir_contrasena" name="repetir_contrasena" type="text" class="custom-input-cg" required style="font-size: 13px; ">
        <img src="https://codigeek.com/projects/bookapp/icon_contrasena.png" style="width: 15px; position: absolute; bottom: 12px; left: 12px;">
      </div>
    </form>
  </div>
  <div class="modal-footer" style="background: none;text-align: center;font-family: codigeekfont;justify-content: center;">
    <button (click)="guardarContrasena()" class="boton-confirmar-morado" style="margin: 0px;">
      Aceptar
    </button>
  </div>
</ng-template>

<ng-template #mImagen let-c="close" let-d="dismiss">
  <div class="modal-header" style="background: none;padding: 10px 15px;">
    <h6 class="modal-title" style="color: black; font-weight: 500;">Imagen</h6>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')" style="padding: 10px 15px;">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form style="margin-top: 15px;">
      <div class="custom-file mb-3">
        <input type="file" class="custom-file-input" (change)="fileChangeEvent($event)" id="validatedCustomFile" required>
        <label class="custom-file-label" for="validatedCustomFile">Selecciona una imagen...</label>
      </div>
      <image-cropper
        [imageChangedEvent]="imageChangedEvent"
        [maintainAspectRatio]="true"
        [aspectRatio]="1 / 1"
        [resizeToWidth]="128"
        [cropperMinWidth]="128"
        [onlyScaleDown]="true"
        [roundCropper]="false"
        format="png"
        outputType="base64"
        (imageCropped)="imageCropped($event)"
        (imageLoaded)="imageLoaded()"
        (cropperReady)="cropperReady()"
        (loadImageFailed)="loadImageFailed()"
        [style.display]="showCropper ? null : 'none'"
      ></image-cropper>
    </form>
  </div>
  <div class="modal-footer" style="background: none;">
    <button type="button" class="btn btn-secondary" (click)="d('Cross click')">Cerrar</button>
    <button type="button" class="btn btn-info" (click)="guardarImagen()">Guardar</button>
  </div>
</ng-template>

<!-- MODALS -->
