// Theme White

// Variables

$app-container-bg: #f1f4f6;
$app-sidebar-bg: #ffffff;
$app-header-bg: #fafbfc;
$app-header-logo-bg: rgba(255, 255, 255, .9);

// Content

.app-theme-white {

  &.app-container {
    background: white;
  }

  .app-sidebar {
    .app-sidebar-content {
      background: $app-sidebar-bg;
    }
  }

  .app-page-title {
    background: white;
    font-family: codigeekfont;
  }

  .app-footer {
    border-top: rgba(0, 0, 0, .02) solid 1px;
  }

  .app-sidebar .app-header__logo,
  .app-footer .app-footer__inner,
  .app-header {
    background: white;
    box-shadow: 0px 0px 5px 0px #e2e2e2;
  }

}
