.boton-acafast {
  color: white;
  font-weight: normal;
  background: #3d005f;
  border: none;
  float: none;
  border-radius: 7px;
  padding: 12px 55px 12px;
  font-size: 15px;
  margin-top: 15px;
}
.boton-confirmar-vieneviene {
  color: white;
  font-weight: normal;
  background: #dd005c;
  border: none;
  float: none;
  border-radius: 7px;
  padding: 12px 55px 12px;
  font-size: 15px;
  margin-top: 15px;
  width: 100%;
  box-shadow: 0px 5px 10px 1px #b3b3b3;
}
.pac-container {
  display : block;
  z-index : 20000 !important;
}
.boton-confirmar-morado {
  color: white;
  font-weight: normal;
  background: #1562b1;
  border: none;
  float: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 12px;
  margin-top: 15px;
  width: 70%;
  box-shadow: 0px 2px 10px 0px #d8d8d8;
}

.price-tag{
  color: #1562b1;
  text-decoration: none;
  position: relative;
  font-weight: bold;
  font-size: 18px;
}

.cross-price {
  color: #969696;
  text-decoration: none;
  position: relative;
  font-size: 11px;
  margin: 0px;
  &:before {
    content: " ";
    display: block;
    width: 35%;
    border-top: 1px solid #969696;
    height: 9px;
    position: absolute;
    bottom: 0;
    left: 33%;
  }
}

.descuento{
  background: #969696;
  color: white;
  text-align: center;
  font-size: 8px;
  padding: 0px 5px;
  border-radius: 10px;
  width: 65%;
  margin: auto;
}

.cgk-modal-full .modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.cgk-modal-full .modal-dialog {
  position: fixed;
  margin: 0;
  min-width: 100%;
  height: 100%;
  padding: 0;
  top: 0% !important;
}

.cgk-modal-full .modal-content {
  height:100%;
}

.cgk-modal-full .modal-body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cgk-modal-full .modal-footer {
  background: transparent;
  border: none;
  padding: 10% 15% 20% 15%;
  margin: 0px;
}

.seleccionado {
  border: 1px solid #99da83;
  border-radius: 3px;
}

.custom-input-cg{
  background: #f2f2f2;
  border: none;
  border-radius: 5px;
  box-shadow: none;
  width: 100%;
  padding: 10px 15px 10px 35px;
  color: #6f6f6f;
  font-weight: bold;
}

.custom-input-cg-np{
  background: #f2f2f2;
  border: none;
  border-radius: 5px;
  box-shadow: none;
  width: 100%;
  padding: 10px 15px 10px 15px;
  color: #6f6f6f;
  font-weight: bold;
}

.custom-label-cg{
  color: #b7b7b7;
  font-weight: normal;
  font-size: 12px;
  padding-left: 10px;
  margin-bottom: 10px;
}

.red-border-button{
  font-size: 12px;
  padding: 10px 5px;
  border: 1px solid #1562b1;
  border-radius: 5px;
}

.red-border-button-no-border{
  font-size: 12px;
  padding: 10px 5px;
  border-radius: 5px;
}

.brand-full-bg-button{
  font-size: 12px;
  padding: 10px 15px;
  background: #1562b1;
  border-radius: 5px;
  color: white;
}

.bold-label-brand{
  font-weight: bold;
  color: #1562b1;
}

.selector-catalogo{
  background: #f2f2f2;
  border-radius: 5px;
  box-shadow: none;
  width: 100%;
  padding: 10px 15px;
}

.swal2-popup.swal2-toast{
  background: #1562b1 !important;
}

.swal2-title{
  color: white !important;
}

@mixin on-circle($item-count, $circle-size, $item-size) {
  position: relative;
  width:  $circle-size;
  height: $circle-size;
  padding: 0;
  border-radius: 50%;
  list-style: none;

  > * {
    display: block;
    position: absolute;
    top:  50%;
    left: 50%;
    width:  $item-size;
    height: $item-size;
    margin: -($item-size / 2);

    $angle: (360 / $item-count);
    $rot: -18;

    @for $i from 1 through $item-count {
      &:nth-of-type(#{$i}) {
        transform:
          rotate($rot * 1deg)
          translate($circle-size / 2)
          rotate($rot * -1deg);
      }

      $rot: $rot + $angle;
    }
  }
}

.circle-container {
  @include on-circle($item-count: 5, $circle-size: 16em, $item-size: 6em);
  margin: 5em auto 0;
  margin-bottom: 6em;

  img {
    display: block;
    max-width: 100%;
    border-radius: 50%;
    transition: .15s;
    box-shadow: 0px 2px 4px 0px #dadada;

    &:hover,
    &:active {

    }
  }
}

.imagen-categoria-inicio{
  display: block;
  max-width: 100%;
  border-radius: 50%;
  transition: .15s;
  box-shadow: 0px 2px 4px 0px #dadada;
}

.slick-track{
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.slick-current > .item-slick-slide-text-inactive{
  background: white;
  border: 1px solid #b3b3b3;
  color: #bbbbbb;
  font-weight: bold;
  padding: 5px 25px;
  border-radius: 40px;
  font-size: 10px;
}

.slick-current > .item-slick-slide-text-active{
  background: #1562b1 !important;
  border: 1px solid #1562b1 !important;
  color: white !important;
  font-weight: bold;
  padding: 5px 25px;
  border-radius: 40px;
  font-size: 10px;
}

.nav-tabs{
  padding: 0px 15px !important;
}

.tabs-animated-shadow > .nav-tabs .nav-link.active::before{
  border-radius: 50px !important;
}

.nav-link{
  // border: 1px solid #818181 !important;
  color: #858585 !important;
  border-radius: 50px !important;
  background: white !important;
  box-shadow: 0 16px 26px -10px rgba(231, 231, 231, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(189, 189, 189, 0.2) !important;
}

.nav-link > active{
  // border: 1px solid #1562b1 !important;
}

.vertical-timeline::before{
  left: 27px !important;
  background: #c60201 !important;
}

.vertical-timeline-element-icon{
  left: 20px !important;
}

.vertical-timeline-element-content{
  margin-left: 50px !important;
}
.badge-warning{
  background-color: #bdbdbd !important;
}

.modal.show .modal-dialog {
    transform: none;
    position: absolute;
    bottom: 0;
    margin: 0px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}







.nav-tabs{
  padding: 0px 15px !important;
}

.tabs-animated-shadow > .nav-tabs .nav-link.active::before{
  border-radius: 50px !important;
}

.nav-link{
  // border: 1px solid #818181 !important;
  color: #858585 !important;
  border-radius: 50px !important;
  background: white !important;
  box-shadow: 0 16px 26px -10px rgba(231, 231, 231, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(189, 189, 189, 0.2) !important;
}

.tabs-animated-line > ul > li > .nav-link{
  // border: 1px solid #818181 !important;
  color: #858585 !important;
  border-radius: 50px !important;
  background: white !important;
  box-shadow: none !important;
  padding: 0px !important;
  font-size: 12px !important;
}

.tabs-animated-shadow > ul > li > .nav-link.active {
  // border: 1px solid #818181 !important;
  background: #1562b1 !important;
}

.tabs-animated-line > ul > li > .nav-link.active {
  // border: 1px solid #818181 !important;
  color: white !important;
  font-weight: bold !important;
}

.tabs-animated-line > .nav-tabs{
  justify-content: center !important;
}

.tabs-animated > .nav-tabs .nav-link::before{
  background: transparent !important;
}

.nav-link > active{
  // border: 1px solid #1562b1 !important;
}

.mat-tab-label .mat-tab-label-content{
  font-family: codigeekfont;
}

.app-sidebar{
  box-shadow: 0px 15px 10px 0px rgb(224, 224, 224) !important;
}

.menusidebarelement{
  font-size: 12px !important;
  height: 2.5rem !important;
}

.menusidebarelementactive{
  font-size: 12px !important;
  height: 2.5rem !important;
  background: #1562b1 !important;
  color: white !important;
}

.modal-content{
  font-family: codigeekfont !important;
}

.app-page-title{
  margin-bottom: 0px !important;
}

.modal-dialog{
  top: 20% !important;
  box-shadow: none !important;
}

.modal-content{
  border-radius: 10px !important;
  box-shadow: 0px 0px 20px 0px #585858 !important;
  background-color: #f9f9f9 !important;
}

.modal-header{
  background: #efefef !important;
}

.tooltip-brand {
  background: black;
}

.tabs-animated-line .nav-tabs .nav-link span{
  border: 1px solid #1562b1;
  padding: 5px 10px;
  border-radius: 3px;
  color: #1562b1;
}

.tabs-animated-line > ul > li > .nav-link.active > span {
  background: #1562b1 !important;
  padding: 5px 10px;
  border-radius: 3px;;
  color: white !important;
}




//
